<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">

    <!--disable slf4j itself log-->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender" level="error">
        <target>System.out</target>
        <encoding>UTF-8</encoding>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %logger %m%n</pattern>
        </layout>
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ALL</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>-->
    </appender>

    <root level="debug">
        <appender-ref ref="CONSOLE"></appender-ref>
    </root>
</configuration>