<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="app.properties">
        <property name="org.apache.ibatis.parsing.PropertyParser.enable-default-value" value="true"/>
        <property name="org.apache.ibatis.parsing.PropertyParser.default-value-separator" value="="/>
    </properties>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <!--<property name="driverProperties" value="e"></property> 不能这么配饰，因为 driverProperties是一个property-->
                <property name="driver" value="${jdbc.driver=com.mysql.cj.jdbc.Driver}"></property>
                <property name="url" value="${jdbc.url=jdbc:mysql://localhost:3306/building}"></property>
                <property name="username" value="${jdbc.user=root}"></property>
                <property name="password" value="${jdbc.password=root}"></property>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper class="com.lokia.mybatis.annotation.BuildingMapper"></mapper>
    </mappers>
</configuration>